{{define "main"}}
<section class="section">
	<div class="container">
		{{ .Content }}
	</div>
	<div class="container">	
		{{ range where .Pages "Params.hidden" "ne" "true"}}
		<article>
			<h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
			<p class="date-head">{{ .Date.Format "January 1, 2019" }}</p>
			<div class="content-summary">
				{{ if (isset .Params "description") }}
				{{ .Description }}				
				{{ else }}
				{{ .Summary | plainify | safeHTML }}
				{{ end }}
				{{ if .Truncated }}
				<a class="button is-link" href="{{ .Permalink }}" style="height:28px">
					Read more
					<span class="icon is-small">
						<i class="fa fa-angle-double-right"></i>
					</span>
				</a>
				{{ end }}
			</div>
		</article>
		{{ end }}
	</div>
</section>
{{end}}
