{{define "main"}}
<section class="section">
	<div class="container">
		{{ .Content }}
	</div>
	<div class="container">	
		{{ range .Pages}}
		<section class="list-entry">
				{{ if (.Resources.GetMatch "icon.png")}}
				<img class="appicon" src="{{ (.Resources.GetMatch "icon.png").RelPermalink }}" width="72"/>
				{{ end }}
			<h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
			<div class="content-summary">
				{{ .Description | plainify }}
				<a class="button is-link" href="{{ .Permalink }}" style="height:28px">
					>>
				</a>
			</div>
		</section>
		{{ end }}
	</div>
</section>
{{end}}
