#banner {
    text-align: center;
}

#subtitle {
    font-style: italic;
}

#features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
}

figure {
    text-align: center
}
figcaption {
    text-align: center
}

fieldset {
    margin-left: 3rem;
    margin-right: 3rem;
}
fieldset div {
	padding-top: 0.5rem;
}